select 
	cb.NewMemberID,
	d.DependentID,
	cdb.CPTCode,
	ccs.[ CcsCode],
	CASE 
		WHEN PatientResponsibilityAmount = 'NULL'
			THEN '0'
		ELSE PatientResponsibilityAmount
	END as PatientResponsibilityAmount,
	RepricedAmount,
	d.BirthYear,
	d.Gender,
	d.Zip,
	ClaimType,
	ServiceStart,
	cast(ServiceEnd as datetime2) as ServiceEnd
from dbo.Claim cb 
join dbo.ClaimDetail cdb
	on cb.NewClaimID = cdb.NewClaimID
join dbo.Dependent d
	on cb.NewMemberID = d.NewMemberID
join dbo.CptToCssDict ccs
	on ccs.CPTCode = cdb.CPTCode
where PatientResponsibilityAmount is not null and 
	  PatientResponsibilityAmount != ''
order by cb.NewMemberID ASC, ServiceEnd ASC