<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
				<li><a href="@Url.Action("PredictResults", "Home")">Predict Results</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container" role="main">
	<div class="row">
		<h1>Health Equity Member Query</h1>
		<h3>Question:</h3>
<h3>We have provided Claim data for our members and we want you to predict when our members need to add money to their HSA accounts.</h3>
<h3>You can include any other data sources you like to make a case to show why people should add money to their HSA accounts at a given time.  Using Age/location can make a difference in the prediction as well.</h3>
	</div>

	<div class="row">
		member information: <input type="text" /> <button>query</button>
	</div>
	
	<div class="row">
		
	</div>
	
	<div class="row">
		
	</div>
</div>